.parta{
  height: 100vh;
}
.modal-content{
  height: 90vh;
  overflow: auto;
  position: relative;
  box-shadow: 1px 5px 13px 10px rgba(94, 87, 87, 0.554);
  background-image: url("solo.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.modal-content::-webkit-scrollbar {
  display: none;
}
/* .partb{
  height: 100vh;
} */
/* .partc{
  height: 100vh;
} */
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
  box-shadow: 1px 2px 6px 5px rgba(94, 87, 87, 0.554);
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
@media screen and (min-width:600px){
  
  .scrollable{
    height: 400px;
    overflow: auto;
    position: relative;
    width: 100%;
    border-radius: 50px ;
    box-shadow: 1px 5px 13px 10px rgba(94, 87, 87, 0.554);
    overflow-y: hidden;
  }
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  .scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 10px;
    right: 30px;
    animation: primary 40s linear infinite;
  }
  
  @keyframes primary {
    from {
      top: 0%;
    }
    to {
      top: -175%;
    }
  }
  
}